# Data Science Tools and Ecosystem.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages used by Data Scientist
- Commonly used Libraries for Data Science
- Simple Arithmetic operations in Python
- Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. Apache
2. Julia
3. R
4. Swift
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. MatPlotLib
3. Pandas
4. Scipy
5. Sci-Kit

Data Science Tools |
---:|
| Jupyter Notebooks |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
a = (3*4)+5
print(a)

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
George Ihechukwu Chinaka